<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Details</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>College</th>
            <th>Phone</th>
            <th>City</th>
            <th>State</th>
        </tr>
        {% for users in user %}
        <tr>
            <td>{{users.name}}</td>
            <td>{{users.email}}</td>
            <td>{{users.college}}</td>
            <td>{{users.phone}}</td>
            <td>{{users.city}}</td>
            <td>{{users.state}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>